<mat-toolbar>
  <button routerLink="home">Home</button>
  <button routerLink="list">List</button>
  <button routerLink="details/card" (click)="navigateToDetails()">Card</button>
</mat-toolbar>

<router-outlet></router-outlet>


<!--<app-joke-list></app-joke-list>


<mat-card>
  <mat-card-content>
    <app-joke-card [joke]="joke" (like)="logLike()"></app-joke-card>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="logLikesNumber()"> Display number of likes </button>
  </mat-card-actions>
</mat-card>-->
