<mat-toolbar color="primary">
  <button mat-stroked-button routerLink="home">Home</button>
  <button mat-stroked-button routerLink="list">List</button>
  <button mat-stroked-button routerLink="details/card" (click)="navigateToDetails()">Card</button>
</mat-toolbar>
<app-loader></app-loader>
<div>
  <router-outlet></router-outlet>
</div>


<!--<app-joke-list></app-joke-list>
<mat-card>
  <mat-card-content>
    <app-joke-card [joke]="joke" (like)="logLike()"></app-joke-card>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="logLikesNumber()"> Display number of likes </button>
  </mat-card-actions>
</mat-card>-->
